doctype html
html(lang="ru=RU")
    head
        include includes/head
    body
        #main.main.relative.main-wrapper.flex.column.w-100.relative
            include includes/side-menu
            include includes/fixed-items
            include includes/header
            include includes/head-window
            include includes/banner-top
            include includes/banner-bottom
            include includes/content
            include includes/footer