section.wrapper_cube.flex.column.a-i-center
    section.wrapper
        #bitrix.container.pt-p-b-80.flex.column
            .flex.a-i-center.info
                .flex.column.w-50
                    .flex.column
                        span.main-h2__signature О ПРОДУКТЕ
                        h2.main-h2 БИТРИКС24.CRM
                    ul.flex.column.main-ul.main-info
                        li.main-li.relative.flex
                            span.absolute.main-li__check
                            |                                 Дает возможность настройки продукта под конкретные цели компании.
                        li.main-li.relative.flex
                            span.absolute.main-li__check
                            |                                 Избавляет Вас от рутинной работы путем автоматизации бизнес-процессов.
                        li.main-li.relative.flex
                            span.absolute.main-li__check
                            | Самостоятельно
                            |                                 отслеживает статус сделки и уведомляет ответственного менеджера о необходимости
                            |                                 совершить
                            |                                 звонок или выполнить поставленную задачу.
                .flex.w-50
                    img.main-img(src='img/digital-marketing-agency-1.svg' alt='img')
            .flex.a-i-center.info.info_reversed
                .flex.w-50
                    img.main-img(src='img/mobile_marketing-1.svg' alt='img')
                #content-1.w-50.grid.main-card__wrap
                    .flex.column.h-100
                        input#test(type='checkbox')
                        label.h-100.reversible__label(for='test')
                            .reversible.flex.column.main-card.j-c-c
                                .tile-back
                                    .card-body.flex.column
                                        p.card-body__p
                                            | Организует ведение единой стандартизированной базы
                                            | клиентов с хранением истории всех коммуникаций
                                .tile-front
                                    .card-body.flex.column
                                        span.main-card__icon-wrap.flex.a-i-center.j-c-c
                                            span.main-card__icon.main-card__icon_binoculars.relative
                                        span.main-card__text Систематизация & Контроль
                    .flex.column.h-100
                        input#test1(type='checkbox')
                        label.h-100.reversible__label(for='test1')
                            .reversible.flex.column.main-card.j-c-c
                                .tile-back
                                    .card-body.flex.column
                                        p.card-body__p
                                            | Позволит жестко регламентировать работу отдела продаж путем создания
                                            | отдельных воронок: для ведения холодных и подогретых клиентов,
                                            | заключения
                                            | новых сделок или повторных продаж.
                                .tile-front
                                    .card-body.flex.column
                                        span.main-card__icon-wrap.flex.a-i-center.j-c-c
                                            span.main-card__icon.main-card__icon_mon
                                        span.main-card__text Стандартизация продаж
                    .flex.column.h-100
                        input#test2(type='checkbox')
                        label.h-100.reversible__label(for='test2')
                            .reversible.flex.column.main-card.j-c-c
                                .tile-back
                                    .card-body.flex.column
                                        p.card-body__p
                                            | Самостоятельно отследит статус сделки и уведомит ответственного
                                            | менеджера о
                                            | необходимости совершить звонок или выполнить поставленную задачу.
                                .tile-front
                                    .card-body.flex.column
                                        span.main-card__icon-wrap.flex.a-i-center.j-c-c
                                            span.main-card__icon.main-card__icon_cogs.relative
                                        span.main-card__text
                                            | Оптимизация работы
                    .flex.column.h-100
                        input#test3(type='checkbox')
                        label.h-100.reversible__label(for='test3')
                            .reversible.flex.column.main-card.j-c-c
                                .tile-back
                                    .card-body.flex.column
                                        p.card-body__p
                                            | Предоставит статистику и аналитику по всем направлениям деятельности
                                            | вашей
                                            | компании в реальном времени .
                                .tile-front
                                    .card-body.flex.column
                                        span.main-card__icon-wrap.flex.a-i-center.j-c-c
                                            span.main-card__icon.main-card__icon_bar.relative
                                        span.main-card__text Статистика & Аналитика
    section.wrapper.relative
        .container.pt-80-pb-20.flex
            .flex.column.a-i-center.main-h2__wrap.relative
                span.main-h2__signature этапы работ и СТОИМОСТЬ ВНЕДРЕНИЯ
                h2.main-h2 БИТРИКС24.CRM
    section.wrapper.relative.p-b-100
        .skewed.absolute.string.string_reversed
        .container.pt-80-pb-20.flex.column
            .flex.column
                .flex.column.a-i-center
                    .steps-timeline.flex
                        .step.flex.column.a-i-center
                            span.timeline-item.relative.timeline-item_analysis
                            h3.steps-name
                                | Предпроектный анализ
                        .step.flex.column.a-i-center
                            span.timeline-item.relative.timeline-item_dev
                            h3.steps-name.steps-name_reversed
                                | Разработка проекта
                        .step.flex.column.a-i-center
                            span.timeline-item.relative.timeline-item_customization
                            h3.steps-name
                                | Внедрение и настройка
                        .step.flex.column.a-i-center
                            span.timeline-item.relative.timeline-item_learn
                            h3.steps-name.steps-name_reversed
                                | Обучение персонала
                        .step.flex.column.a-i-center
                            span.timeline-item.relative.timeline-item_secure
                            h3.steps-name
                                | Мероприятия по защите
                        .step.flex.column.a-i-center
                            span.timeline-item.relative.timeline-item_support
                            h3.steps-name.steps-name_reversed
                                | Поддержка в будущем
                    .buy-card__wrap
                        .buy-card.relative.flex.column.a-i-center.a
                            .flex.column.buy-card__header
                                h4.buy-card__h4 ЛЕГКИЙ СТАРТ
                                span.buy-card__signature Базовое внедрение
                            span.buy-card__price.flex.a-i-base
                                span.buy-card__price-signature от
                                |  59 000 ₽
                            span.buy-card__text
                                | Подберем оптимальное решение,
                                | выполним настройку продукта и обучим персонал
                            a.btn.buy-card__btn.relative(href='#order') Заказать проект
                        .buy-card.relative.flex.column.a-i-center.b
                            .flex.column.buy-card__header
                                h4.buy-card__h4 ЛИДЕР
                                span.buy-card__signature Автоматизация бизнеса
                            span.buy-card__price.flex.a-i-base
                                span.buy-card__price-signature от
                                |  99 000 ₽
                            span.buy-card__text
                                | Автоматизируем основные бизнес-процессы, оптимизируем работу персонала, настроим воронку продаж
                            a.btn.buy-card__btn.relative(href='#order') Заказать проект
                        .buy-card.relative.flex.column.a-i-center.c
                            .flex.column.buy-card__header
                                h4.buy-card__h4 ЧЕМПИОН
                                span.buy-card__signature Уверенность во всём
                            span.buy-card__price.flex.a-i-base
                                span.buy-card__price-signature от
                                |  199 000₽
                            span.buy-card__text
                                | Полная автоматизация и внедрение уникальной системы контроля целевых показателей деятельности компании - РНП (рука на пульсе)
                            a.btn.buy-card__btn.relative(href='#order') Заказать проект
                    span#site
    section.wrapper
        .container.flex.column
            .flex.a-i-center.pb-40.info_reversed
                .flex.w-50
                    img.main-img(src='img/choose-us-1.png' alt='img')
                .flex.column.w-50.main-info.main-info_n-p
                    .flex.column.main-h2__wrap_end
                        span.main-h2__signature Верстка
                        h2.main-h2 сайтов
                        span
                            | Профессионально верстаем сайты, лендинги,  веб-приложения, интернет-магазины, корпоративные порталы.
            .flex.column.a-i-center
                .flex.column.w-100.a-i-center.main-info.main-info_n-p
                    span.main-h2__signature С нами комфортно
                    h2.main-h2 Почему выбирают нас
                    .grid.faq
                        label.faq__item.accordion
                            input(type='radio' name='radio-accordion')
                            .faq__header.relative.flex
                                span.faq__span  Валидно и понятно
                            .accordion__content.faq__text.flex.column
                                p.faq__p
                                    | Код максимально читаем и облегчен.
                                p.faq__p
                                    | Работаем по методологии БЭМ (Блок, Элемент, Модификатор).
                        label.faq__item.accordion
                            input(type='radio' name='radio-accordion')
                            .faq__header.relative.flex
                                span.faq__span  Кроссбраузерно и адаптивно
                            .accordion__content.faq__text.flex.column
                                p.faq__p
                                    | Наша работа будет выглядеть прекрасно при любом разрешении и на любом браузере
                        label.faq__item.accordion
                            input(type='radio' name='radio-accordion')
                            .faq__header.relative.flex
                                span.faq__span  Ответственно и вовремя
                            .accordion__content.faq__text.flex.column
                                p.faq__p
                                    | Опыт нашей команды дает возможность адекватно подходить к оценке сроков
                                    | выполенения работ и не нарушать дедлайн
                        label.faq__item.accordion
                            input(type='radio' name='radio-accordion')
                            .faq__header.relative.flex
                                span.faq__span Высокий уровень обслуживания
                            .accordion__content.faq__text.flex.column
                                p.faq__p
                                    | Кто выбрал нас не сомневается - проект будет доведен до
                                    | конца.
                                p.faq__p  К своим обязанностям относимся профессионально и серьезно .
                        label.faq__item.accordion
                            input(type='radio' name='radio-accordion')
                            .faq__header.relative.flex
                                span.faq__span  Доработаем и исправим
                            .accordion__content.faq__text.flex.column
                                p.faq__p Доделаем за другими то, с чем они не справились
                                p.faq__p Быстро и легко поправим код html, внесем доработки в стили.
                        label.faq__item.accordion
                            input(type='radio' name='radio-accordion')
                            .faq__header.relative.flex
                                span.faq__span  Сопровождение и поддержка
                            .accordion__content.faq__text.flex.column
                                p.faq__p
                                    | Клиент для нас превыше всего.
                                p.faq__p
                                    | Всегда на связи, быстро реагируем на Ваши пожелания.
                .flex.w-100
                    img.main-img(src='img/get-started-1.svg' alt='img')
    section.wrapper.relative
        .container.pt-80-pb-20.flex
            .flex.column.a-i-center.main-h2__wrap.relative
                span.main-h2__signature этапы работ и СТОИМОСТЬ разработки
                h2.main-h2 сайта
    section.wrapper.relative
        .skewed.absolute.string
        .container.pt-80-pb-20.flex.column
            .flex.column
                .flex.column.a-i-center
                    .steps-timeline.flex
                        .step.steps-one.flex.column.a-i-center
                            span.timeline-item.relative.timeline-item_analysis
                            h3.steps-name
                                | Техническое задание
                        .step.steps-two.flex.column.a-i-center
                            span.timeline-item.relative.timeline-item_dev
                            h3.steps-name.steps-name_reversed
                                | Согласование макета
                        .step.steps-three.flex.column.a-i-center
                            span.timeline-item.relative.timeline-item_layout
                            h3.steps-name
                                | Вёрстка веб-страниц
                        .step.steps-four.flex.column.a-i-center
                            span.timeline-item.relative.timeline-item_learn
                            h3.steps-name.steps-name_reversed
                                | Обучение персонала
                        .step.steps-three.flex.column.a-i-center
                            span.timeline-item.relative.timeline-item_secure
                            h3.steps-name
                                | Мероприятия по защите
                        .step.steps-four.flex.column.a-i-center
                            span.timeline-item.relative.timeline-item_support
                            h3.steps-name.steps-name_reversed
                                | Поддержка в будущем
                .buy-card__wrap
                    .buy-card.relative.flex.column.a-i-center
                        .flex.column.buy-card__header
                            h4.buy-card__h4 ЛЕНДИНГ
                            span.buy-card__signature Созданный продавать
                        span.buy-card__price.flex.a-i-base
                            span.buy-card__price-signature от
                            |  25 000₽
                        span.buy-card__text
                            | Максимальный результат
                            | от рекламных кампании
                        a.btn.buy-card__btn.relative(href='#order') Заказать проект
                    .buy-card.relative.flex.column.a-i-center
                        .flex.column.buy-card__header
                            h4.buy-card__h4 САЙТ-ВИЗИТКА
                            span.buy-card__signature Фокус внимания
                        span.buy-card__price.flex.a-i-base
                            span.buy-card__price-signature от
                            |  55 000 ₽
                        span.buy-card__text
                            | Выгодно презентует
                            | вашу компанию
                        a.btn.buy-card__btn.relative(href='#order') Заказать проект
                    .buy-card.relative.flex.column.a-i-center
                        .flex.column.buy-card__header
                            h4.buy-card__h4.buy-card__h4_sm
                                | КОРПОРАТИВНЫЙ
                                | САЙТ/ИНТЕРНЕТ-МАГАЗИН
                            span.buy-card__signature Свобода ваших действий
                        span.buy-card__price.flex.a-i-base
                            span.buy-card__price-signature от
                            |  125 000₽
                        span.buy-card__text
                            | Простое решение для сложных задач
                        a.btn.buy-card__btn.relative(href='#order') Заказать проект
    section.wrapper
        #order.container.pt-p-b-80.flex
            .flex.j-c-sa.mb-40.info.w-100
                .flex.w-100
                    img.main-img(src='img/envelope-1.svg' alt='img')
                .flex
                    form.flex.column.form.t-a-c(action="https://formspree.io/f/mnqloorg" method="POST")
                        h2.main-h2 Поговорим о проекте
                        input.form__input(type='text' name="name"  placeholder='Имя' required='')
                        input.form__input(type='number' name="phone" placeholder='Телефон' required='')
                        input.form__input(type='email'  name="_replyto" placeholder='email' required='')
                        textarea.form__textarea(rows='5' name="message" placeholder='Расскажите о проекте')
                        button.btn.buy-card__btn.buy-card__btn_500.relative.m-0-a(type='submit')
                            | Оставить
                            | заявку

