.flex.column.contacts.contacts_abs.a-i-fe

    .flex.relative.contacts-link__wrap.a-i-center.j-c-e

        a.contacts-link.relative.contacts-link_mail(href='mailto:coll@bodrii.ru') coll@bodrii.ru
        a.contacts-link__svg.contacts-link__svg_mail(href='mailto:coll@bodrii.ru')

    .flex.relative.contacts-link__wrap.a-i-center.j-c-e

        a.contacts-link.relative.contacts-link_tg(href='https://t.me/bodrii_bot') @bodrii_bot
        a.contacts-link__svg.contacts-link__svg_tg(href='https://t.me/bodrii_bot')

    .flex.relative.contacts-link__wrap.a-i-center.j-c-e

        a.contacts-link.relative.contacts-link_phone(href='tel:+74951337592') +7(495)133-75-92
        a.contacts-link__svg.contacts-link__svg_phone(href='tel:+74951337592')

a.btn.btn_head-window.relative#fixedOrder(href='#order') Оставить заявку