footer.wrapper.wrapper_footer.m-t-a

    .container.j-c-sb

        .flex.j-c-sb.a-i-center.info.w-100

            .flex.a-i-center.footer-content

                a.logo.logo_footer(href='//#')

                span.header-slogan.relative.flex.a-i-center Официальный партнер

                    span.header-slogan__bitrix

            span.copyright Copyright © 2015-2021

            script( src = "js/scripts.min.js")
