section.w-100.wrapperr_main.wrapper_botton-line.relative#wrapper
    .container.flex.column.h-100.pt-p-b-80
        .flex.column.a-i-center.relative.head-window
            .console-container.flex.column.j-c-c.a-i-center
                h2.head-window__h2 Прими правильное решение
                span#text