header.fixed.wrapper_header

    .container.relative

        a.logo.absolute(href='//#')

        .header.flex.w-100.j-c-e.relative

            nav.flex.a-i-center

                ul.header-nav.flex.j-c-sb

                    li
                        a.header-nav__link(href='#bitrix') Внедрение Битрикс24
                    li
                        a.header-nav__link(href='#site')  Верстка Сайтов
                    li
                        a.header-nav__link(href='#order') Оставить заявку

                .flex

                    .flex.relative.contacts-link__wrap_header.a-i-center.j-c-e
                        a.contacts-link__svg.contacts-link__svg_m.contacts-link__svg_phone(href='//tel:+74951337592')
                        a.contacts-link.relative.contacts-link_phone(href='//tel:+74951337592') +7(495)133-75-92

                    .flex.relative.contacts-link__wrap_header.a-i-center.j-c-e
                        a.contacts-link.relative.contacts-link_mail(href='//mailto:coll@bodrii.ru') coll@bodrii.ru
                        a.contacts-link__svg.contacts-link__svg_mail(href='//mailto:coll@bodrii.ru')

                    .flex.relative.contacts-link__wrap_header.a-i-center.j-c-e
                        a.contacts-link.relative.contacts-link_tg(href='//#') @bodrii_bot
                        a.contacts-link__svg.contacts-link__svg_tg(href='//#')

