head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="keywords" content="битрикс, разработка, мобильные приложения, программное обеспечение, веб-разработка")
    link(rel="stylesheet" href="css/main.min.css")
    link(rel="icon" href="img/favicon.ico" type="image/x-icon")

    script( src = "js/typeit.min.js")
    title Бодрый и партнеры