#mySidenav.sidenav.flex.column.a-i-fe
    .flex.column
        a.sidenav__link.mb-15(href='#bitrix')  Внедрение Битрикс24
        a.sidenav__link.mb-15(href='#site') Верстка Сайтов
        a.sidenav__link(href='#order')  Оставить заявку

    .flex.m-t-a
        .flex.relative.contacts-link__wrap_sidenav.a-i-center.j-c-e.mr-15
            a.contacts-link__svg.contacts-link__svg_phone(href='//tel:+74951337592')

        .flex.relative.contacts-link__wrap_sidenav.a-i-center.j-c-e.mr-15
            a.contacts-link__svg.contacts-link__svg_mail(href='//mailto:coll@bodrii.ru')

        .flex.relative.contacts-link__wrap_sidenav.a-i-center.j-c-e
            a.contacts-link__svg.contacts-link__svg_tg(href='//#')

a.hidden-wrap.fixed#hamburger
    #menu-btn
        span.text Меню


